* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,208,240,1) 98%, rgba(103,208,240,1) 100%);
    min-height: 100vh;
  }

  img {
    width: 100%;
  }
  
  header h1 {
    text-align: center;
  }
  
  main {
    width: 100%;
  }
  
  .blogList {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000; 
  }
  
  .post {
    background-color: #181a1b;
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px 0;
  }
  

  @media screen and (min-width: 768px) {
    .post {
      width: 45%;
      display: inline-block;
      margin: 20px 2%;
    }
  }

  @media screen and (min-width: 992px) {
    .post {
      width: 29%;
      display: inline-block;
      margin: 20px 15px;
    }
  }
